// copied from Marie's snippets at https://bitbucket.rki.local/projects/BBR/repos/config-snippets/browse/nextflow/profile/rki_profile.config

params {
    conda_cache_dir = "conda"
    conda_create_options = ''
    conda_create_timeout = '20 min'
    max_cpus = '50'
    singularity_cache_dir = "singularity"

    publish_dir_mode = 'copy'

    // defaults used for ONT QC
    krakendb = "/scratch/databases/kraken2/kraken2_pluspfp_20240904/"
    chopper_args = " -q 20 -l 500 "
    outdir = "analyses"
    multiqc_config = "$baseDir/conf/multiqc_config.yml"

}

// Load required module configurations
includeConfig './conf/modules.config'

// Load base config with general options for ressource requirements
includeConfig './conf/base.config'

profiles {
    rki_conda {
        conda {
                enabled = true
                cacheDir = params.conda_cache_dir
                createOptions = params.conda_create_options
                createTimeout = params.conda_create_timeout
        }
    } 


    rki_mamba {
        conda {
            useMamba = true
            enabled = true
            cacheDir = params.conda_cache_dir
            createOptions = params.conda_create_options
            createTimeout = params.conda_create_timeout
        }
    }

    rki_singularity {
        singularity { 
            enabled = true
            autoMounts = true
            envWhitelist = "HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy"
            cacheDir = params.singularity_cache_dir
        }
    }

    rki_slurm { 
        executor {
            name = "slurm"
            queueSize = 200
            // exitReadTimeout = "360 sec"
            // submitRateLimit = '1 / 2 s'
            // pollInterval = '30 sec'
        }
        process {
            cache = "lenient"
        }
    }

    rki_priority {
        process {
            clusterOptions = '--partition=priority'
        }
    }
}
